@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Poppins:wght@600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.h-100 {
  height: 550px;
}

.font-400 {
  font-weight: 400;
}

.post-heading {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.post-heading-color {
  color: #202c45;
}

.post-p {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
}

.post-p-color {
  color: #1a2e44;
}
